/* Scss Document */
@import url("https://use.typekit.net/dpv5gwp.css");
/*IMAGES*/
/* Body Setup */
body, html {
  height: 100%; }

/* COLORS */
/* FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: forma-djr-text, sans-serif;
  font-weight: 700; }

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 300; }

a {
  text-decoration: none; }
  a:hover {
    color: #256390;
    text-decoration: none; }

/* Navbar */
.navbar.navlogin.navbar-default {
  margin-bottom: 0px; }

nav {
  font-family: forma-djr-text, sans-serif;
  font-weight: 300;
  -webkit-box-shadow: 7px 9px 16px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 7px 9px 16px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 7px 9px 16px 1px rgba(0, 0, 0, 0.27); }

.navbar {
  padding-top: 11px; }

.nav-link {
  color: #102B3F; }
  .nav-link:hover {
    color: #2f7eb9; }

.registernav {
  padding-top: 8px;
  padding-bottom: 5px; }

/**************************** Login Page *********************************/
.login-bg {
  height: 85%;
  background-image: url("images/loginbg.jpg");
  background-size: 110% 120%; }

.login-panel {
  padding: 30px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1); }

.login-panel-bottom {
  background-color: #fafafa;
  padding: 50px; }

.login-row {
  height: 100%; }

.loginheader {
  text-align: center;
  margin-bottom: 40px;
  color: white; }

.passwordhelp {
  color: #767676; }
  .passwordhelp:hover {
    color: black; }

.min-imput {
  border: none;
  border-bottom: 1px solid #3E3E3E;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0); }
  .min-imput:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none; }

.loginlabel {
  color: white;
  font-weight: 500; }

.submitbutton {
  width: 100%;
  background-color: #81C341;
  border: none;
  margin-top: 20px; }
  .submitbutton:hover {
    background-color: #689f32; }

.registerbutton {
  width: 100%; }

.cued-attr {
  display: inline;
  color: white;
  font-size: 14px;
  padding-right: 7px; }

.cued-logo {
  width: 40px;
  padding-right: 15px; }

.greenbg {
  background-image: url("images/loginbg.jpg");
  background-size: 110% 120%;
  height: 100%; }

.loginfooter {
  background-color: rgba(0, 0, 0, 0) !important;
  text-align: right;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0; }

.footerimgsm {
  width: 30px; }

.poweredby {
  font-size: 12px; }

/* Register */
.gearsimg {
  width: 80%;
  margin-left: 15%; }

.footerimgmd {
  width: 50px; }

.mastfoot {
  margin-top: 10% !important; }

.negmargin {
  margin-top: -15px; }

/*Footer */
footer {
  padding: 10px; }

.footerlogo {
  text-align: right; }

/* Media Breakpoints */
@media (min-width: 768px) {
  .registernav {
    margin-left: 30px; } }
