/* Scss Document */

@import url("https://use.typekit.net/dpv5gwp.css");

/*IMAGES*/

$greengraphic: "images/loginbg.jpg";



/* Body Setup */
body, html {
	height: 100%;
}

/* COLORS */
$success: #81C341;
$primary: #102B3F;
$mutedgrey: #3E3E3E;

/* FONTS */

h1, h2, h3, h4, h5, h6{
	font-family: forma-djr-text, sans-serif;
	font-weight: 700;
}

p {
	font-family: proxima-nova, sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	&:hover{
		color: lighten( $primary, 20% );
		text-decoration: none;
	}
}


/* Navbar */
.navbar.navlogin.navbar-default {
	margin-bottom: 0px;
}
nav{
	font-family: forma-djr-text, sans-serif;
		font-weight: 300;
	-webkit-box-shadow: 7px 9px 16px 1px rgba(0,0,0,0.27);
	-moz-box-shadow: 7px 9px 16px 1px rgba(0,0,0,0.27);
	box-shadow: 7px 9px 16px 1px rgba(0,0,0,0.27);
}

.navbar{
	padding-top: 11px;
}
.nav-link{
	color: $primary;
	&:hover {
        color: lighten( $primary, 30% );
    }
}

.registernav{
	padding-top: 8px;
	padding-bottom: 5px;
}

/**************************** Login Page *********************************/
.login-bg {
	height: 85%;
	background-image: url($greengraphic);
	background-size: 110% 120%;
}

.login-panel{
	padding: 30px;
	border: 1px solid white;
	background-color: rgba(255,255,255,0.10);
}

.login-panel-bottom {
	background-color: rgb(250,250,250);
	padding: 50px;
}

.login-row {
	height: 100%;
}

.loginheader{
	text-align: center;
	margin-bottom: 40px;
	color: white;
}

.passwordhelp {
	color: rgba(118,118,118,1.00);
	&:hover {
		color: darken($mutedgrey, 30% );
	}
}

.min-imput{
	border: none;
	border-bottom: 1px solid $mutedgrey;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.00);
	&:focus{
		background-color: rgba(255,255,255,0.20);
		border: none;
		border-bottom: 1px solid white;
		box-shadow: none;
	}
}

.loginlabel{
	color: white;
	font-weight: 500;
}

.submitbutton {
	width: 100%;
	background-color: $success;
	&:hover {
        background-color: darken( $success, 10% );
    }
	border: none;
	margin-top: 20px;
}

.registerbutton {
	width: 100%;
}

.cued-attr{
	display: inline;
	color: white;
	font-size: 14px;
	padding-right: 7px;
}

.cued-logo{
	width: 40px;
	padding-right: 15px;
}

.cover-container{
	//padding-top: 50px;
}

.greenbg{
	background-image: url($greengraphic);
	background-size: 110% 120%;
	height: 100%;
}

.loginfooter {
	background-color: rgba(0,0,0,0.00)!important;
	text-align: right;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footerimgsm{
	width: 30px;
}

.poweredby{
	font-size: 12px;
}


/* Register */

.gearsimg{
	width: 80%;
	margin-left: 15%;
}

.footerimgmd {
	width: 50px;
}

.mastfoot{
	margin-top: 10%!important;
}

.negmargin {
	margin-top: -15px;
}

/*Footer */
footer{
	padding: 10px;
}

.footerlogo{
	text-align: right;
}


/* Dashboard */

.welcome-business { 
	font-size: 20px;
	font-weight: 300;
}

.bus-name {
	padding-left: 10px;	
}

.card-body {
    min-height: 300px;
}

.flex-nowrap{
	overflow-x: scroll;
}

.referrals-badge{
	width: 100%;
}

.editpost {
	color: rgba(164,164,164,1.00);
	font-size: 9px;
}

/*Career Clusters */
.finance-cluster{
	color:rgba(37,101,47,1.00);
}

.marketing-cluster{
	color:rgba(103,8,10,1.00);
}

.artcomm-cluster{
	color:rgba(28,35,107,1.00);
}

.info-cluster {
	color:rgba(0,121,141,1.00);
}

/* Media Breakpoints */

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.registernav{
		margin-left: 30px;
	}
}
